@media print {
  body {
    background-color: #fff;
    color: #000;
  }

  * {
    box-shadow: none !important;
  }

  .c-section,
  .c-card {
    border: 1px solid #ccc;
  }

  .u-skip-link,
  button {
    display: none !important;
  }
}
